[data-theme='si'] {
  --logo-url: url('/img/parlameter-logo.svg');
  --bg-url: url('/img/parlameter-bg-raw.jpg');
  --background-light: #fff;
  --background-accent: #227497;
  --text-light: #fff;
  --text-dark: #003143;
}

[data-theme='hr'] {
  --logo-url: url('/img/parlametar-hr-logo.svg');
  --bg-url: url('/img/parlameter-bg-raw.jpg');
  --background-light: #fff;
  --background-accent: #ea5658;
  --text-light: #fff;
  --text-dark: #e52421;
}

[data-theme='ba'] {
  --logo-url: url('/img/parlametar-ba-logo.svg');
  --bg-url: url('/img/parlameter-bg-raw.jpg');
  --background-light: #fff;
  --background-accent: #7380be;
  --text-light: #fff;
  --text-dark: #283480;
}

[data-theme='ljubljana'] {
  --logo-url: url('https://cdn.ljubljana.parlameter.si/img/logo-parlameter.svg');
  --bg-url: url('/img/parlameter-bg-raw.jpg');
  --background-light: #fff;
  --background-accent: #007a78;
  --text-light: #fff;
  --text-dark: #005554;
}
